<h2>My Items</h2>

<select (change)="dropDownItems($event)" >
  <option>sort by id</option>
  <option>sort by name</option>
  <option>sort by price</option>
</select>


<app-item-search></app-item-search>

<div *ngIf="userLogin == true">

  <a routerLink="/app-item-form"> 
    
    <button mat-flat-button color="primary" class="create-item"> Create item 
      <mat-icon>add_circle</mat-icon>
    </button> 
  
  </a>

</div>


<ul class="items">

  <li *ngFor="let item of items"

    [class.selected]="item === selectedItem" (click)="onSelect(item)">

    <a>  <span class="badge">{{item.id}}</span> {{item.name}} | {{item.price}}  </a>

    <button *ngIf="userLogin == true" class="delete-item-button" title="delete item" (click)="delete(item);" mat-mini-fab color="primary" aria-label="delete icon">
      <mat-icon >delete</mat-icon>
    </button>

  </li>
</ul>

<app-item-detail [item]="selectedItem"> </app-item-detail>