
<div *ngIf="hero" id="dtl">

  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name"> <br>

    <div><span>Hero money: </span>{{hero.money}}  </div>

  </div>

  <div>
    <ul>
        <li *ngFor="let item of hero.items">
            <app-item-detail [item]="item"></app-item-detail>
        </li>
    </ul>
  </div>

  <button (click)="goBack()">Go Back</button>

  <a routerLink="/freeitems/{{hero.id}}"> <button class="free"> Free Items </button></a>

  </div>




