<h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>

<div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
  </div>


  <h2>{{hero2.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero2.id}}</div>
<div><span>name: </span>{{hero2.name}}</div>

<div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero2.name" placeholder="name">
  </div>