<h2>My heroes</h2>

<select (change)="dropDownChanged($event)" >
  <option>Sort by Id</option>
  <option>Sort by Name</option>
  <option>Sort by Money</option>
</select>

<div>

  <form> 
    <mat-form-field class="search-box" appearance="fill">
      <mat-label>Hero name:</mat-label>
      <input matInput id="new-hero" #heroName>
    </mat-form-field>
  </form>
  
  <button mat-flat-button color="primary" class="add-button" (click)="add(heroName.value); heroName.value=''">Add
    <mat-icon>add_circle</mat-icon>
  </button>

</div>

<a routerLink="/app-hero-form"> 
    
  <button mat-flat-button color="primary" class="hero-dtl-btn"> Create hero </button> 

</a>

<ul class = "heroes">

    <li *ngFor="let hero of heroes">

        <a routerLink="/detail/{{hero.id}}">
          <span class="badge">{{hero.id}}</span> {{hero.name}} 
        </a>

      <button  class="delete-button" title="delete hero" (click)="delete(hero);" mat-mini-fab color="primary" aria-label="delete icon">
         <mat-icon >delete</mat-icon>
      </button>

    </li>

</ul>



  